################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

.vs/
ISIS5/.vs/
ISIS5/bin/
ISIS5/obj/
ISIS5/ISIS5.csproj
ISIS5/ISIS5.sln